.reg-inputs{
    text-align: left;
}
.user-card-all{
    width: 100%;
    height: 60px;
    border: 2px solid blue;
    padding: 10px 0;
}
.topic-header{
    text-align: left;
    min-height: 60px;
    padding-left: 10px;
}
.border-blue{
    border: 2px solid blue;
}
.div-btn-color-1{
    background-color: rgb(158, 200, 236);
}
.div-btn-color-2{
    background-color: rgb(100, 168, 228);
}